DATABASE_URL="file:./dev.db"
DATABASE_URL_PROD="postgresql://USER:PASSWORD@HOST:PORT/DB?sslmode=require"

AUTH_GOOGLE_ID="your-google-client-id"
AUTH_GOOGLE_SECRET="your-google-client-secret"
AUTH_SECRET="your-auth-secret"
AUTH_URL="http://localhost:3001"
